<!DOCTYPE html>
<html ng-app="unifier">
	<head>
		<meta charset="utf-8" />
		<title>Торговец &mdash; uonline/unifier</title>
		<style type="text/css">
			.inactive { opacity: 0.25; }

			input[type=number], input[type=text] {
				border: none;
				background-color: white;
				border-bottom: 1px dotted black;
			}

			div.itemdata div {
				margin-bottom: 5px;
			}
		</style>
		<script>
			window.onbeforeunload = function(){ return 'Are you sure?' }
		</script>
		<!-- angular -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script type="text/javascript">
			//window.tdd = [{"_deleted":false,"id":1,"name":"Тестини Тестирио","type":"shield","strength_max":111,"coverage":25,"damage":222,"class":null,"kind":null},{"_deleted":false,"id":2,"name":"Меч сотоны","type":"weapon-one-handed","strength_max":12,"coverage":null,"damage":111,"class":"normal","kind":"sword"},{"_deleted":false,"id":3,"name":"Левый наплечник чёрного ворона, что вьётся над моею головой","type":"pouldron-left","strength_max":11,"coverage":5,"damage":null,"class":null,"kind":null}]
			angular
			.module('unifier', [])
			.controller('ExampleController', ['$scope', '$window', function($scope, $window) {
				$scope.doAsk = function(oldData) {
					var x = angular.fromJson($window.prompt('Введите строку для импорта:'));
					return (x==null ? oldData : x);
				};
				$scope.doPasta = function(data) {
					$window.prompt('', angular.toJson(data));
				};
				$scope.makeId = function(data) {
					var max = 0;
					for (var i = 0; i < data.length; i++) {
						if (data[i].id > max) {
							max = data[i].id;
						}
					};
					return max+1;
				};
			}]);
		</script>
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-init="items = []" ng-controller="ExampleController">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Переключить навигацию</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">uonline/unifier</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="javascript://">Торговец <span class="sr-only">(вы здесь)</span></a></li>
						<li><a href="map/">Картограф</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
					<div class="pull-right">
						<button class="btn btn-default" ng-click="items = doAsk(items)"><span class="glyphicon glyphicon-folder-open"></span> Импорт</button>
						<button class="btn btn-default" ng-click="doPasta(items)"><span class="glyphicon glyphicon-save-file"></span> Экспорт</button>
					</div>
						<h1>Item unifier</h1>
					</div>
					<div class="itemdata" ng-repeat="(index, item) in items" style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px" ng-class="item._deleted?'inactive':''">
						<div ng-if="!item._deleted" class="pull-right">
							<button ng-click="item._deleted = true" class="btn btn-default btn-sm">Удалить</button>
						</div>
						<div ng-if="item._deleted" class="pull-right">
							<button ng-click="item._deleted = false" class="btn btn-default btn-sm">Вернуть</button>
						</div>
						<div>ID: <input type="number" ng-model="item.id" style="width: 6em" /></div>
						<div>Название: <input type="text" ng-model="item.name" style="width: 50em" /></div>
						<div>Слот:
							<select ng-model="item.type">
								<option disabled>&nbsp;&nbsp;Оружие и щиты</option>
								<option value="weapon-one-handed">Одноручное оружие</option>
								<option value="weapon-two-handed">Двуручное оружие</option>
								<option value="shield">Щит</option>
								<option disabled>&nbsp;&nbsp;Броня</option>
								<option value="hat">Голова</option>
								<option value="necklace">Шея</option>
								<option value="pouldron-left">Левое плечо</option>
								<option value="pouldron-right">Правое плечо</option>
								<option value="coat">Торс</option>
								<option value="breastplate">Грудь</option>
								<option value="belt">Пояс</option>
								<option value="vambrace-left">Левое предплечье</option>
								<option value="vambrace-right">Правое предплечье</option>
								<option value="gloves">Руки</option>
								<option value="ring">Пальцы</option>
								<option value="pants">Ноги</option>
								<option value="cuisse">Бёдра</option>
								<option value="chausses">Голени</option>
								<option value="boots">Обувь</option>
							</select>
						</div>
						<div>Прочность: <input type="number" ng-model="item.strength_max" /></div>
						<div ng-class="(['weapon-one-handed','weapon-two-handed'].indexOf(item.type) !== -1)?'inactive':''">
							Покрытие тела: <input type="number" style="width: 4em" ng-model="item.coverage" />%
						</div>
						<div ng-class="(['weapon-one-handed','weapon-two-handed','shield'].indexOf(item.type) !== -1)?'':'inactive'">
							Урон при ударе: <input type="number" ng-model="item.damage" />
						</div>
						<div ng-class="(['weapon-one-handed','weapon-two-handed'].indexOf(item.type) !== -1)?'':'inactive'">
							Класс:
							<select ng-model="item.class">
								<option value="normal">Обычное</option>
								<option value="short">Короткое</option>
								<option value="heavy">Сверхтяжёлое</option>
								<option value="chained">Цепное</option>
							</select>
						</div>
						<div ng-class="(['weapon-one-handed','weapon-two-handed'].indexOf(item.type) !== -1)?'':'inactive'">
							Вид:
							<select ng-model="item.kind" ng-value="normal">
								<option value="bow">Лук</option>
								<option value="sword">Меч</option>
								<option value="mace">Булава или дубина</option>
								<option value="axe">Топор или секира</option>
								<option value="staff">Магический посох</option>
								<option value="sphere">Магическая сфера</option>
								<option value="dagger">Кинжал или нож</option>
								<option value="scythe">Коса</option>
								<option value="spear">Копьё, алебарда, пика или боевой посох</option>
								<option value="hammer">Молот</option>
							</select>
						</div>
						<div ng-class="(['weapon-one-handed','weapon-two-handed','shield'].indexOf(item.type) !== -1)?'inactive':''">
							Класс брони:
							<select ng-model="item.armor_class">
								<option value="cloth">Тряпичная</option>
								<option value="light leather">Лёгкая кожаная</option>
								<option value="leather">Кожаная</option>
								<option value="bone">Костяная</option>
								<option value="mail">Кольчужная</option>
								<option value="lamellar">Пластинчатая</option>
								<option value="light plate">Легкая латная</option>
								<option value="plate">Латная</option>
								<option value="heavy plate">Тяжелая латная</option>
							</select>
						</div>
					</div>
					<p><button class="btn btn-default" ng-click="items.push({_deleted:false,id:makeId(items),name:null,type:null,strength_max:null,coverage:null,damage:null,class:null,kind:null})"><span class="glyphicon glyphicon-plus"></span> Создать предмет</button></p>
					<!-- <textarea style="width: 100%; height: 100px" onfocus="this.select()">{{items | json:0}}</textarea> -->
				</div>
			</div>
		</div>
	</body>
</html>
